<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div>
    <p align="center" style="font-family: 'Abyssinica SIL'; font-size: 48px">Movie Website</p>
</div>
<div>
    <div style="margin-left: 8%" th:each="movies : ${movies}">
        <div class="floatchild" style="background-color: white; border-style: groove; border-radius: 10px">
            </br>
            <span th:onclick="'location.href=\'/movies/id?id=' + ${movies.id} + '\''" style="cursor:pointer" class="movietitle" th:text="${movies.title}">Name</span>
            </br></br>
            <img th:onclick="'location.href=\'/movies/id?id=' + ${movies.id} + '\''" style="cursor:pointer; margin-left: 45px" th:src="${movies.image}" width="55%">
            </br>
            <span style="margin-left: 45px; font-family: 'Abyssinica SIL'; font-size: 18px" th:text="${movies.year}"></span>
            </br>
            <span style="margin-left: 45px; font-family: 'Abyssinica SIL'; font-size: 18px" th:text="${movies.rating}"></span>
            </br>
            <div style="margin-left: 45px; margin-right: 45px; font-family: 'Abyssinica SIL'; font-size: 18px" th:text="${movies.description}"></div>
            </br></br></br>
        </div>
    </div>
</div>
</body>
</html>